footer{  
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}
.footer-content {
    min-height: 100%;
    background-color: $orange;
}
.list{
    padding-top: 44px;
    padding-bottom: 10px;
    text-align: right;
}
.list-unstyled{
    li{
        padding: 2px 0;
    }            
}
.foot{
    @extend .clearfix;
}
h3{
    margin-bottom: 20px;
}


@media only screen and (max-width: $breakpoint-large) {
    .footer{
        h3{
            margin-bottom: 20px;    
        }
        .info{
            margin: 27px auto 10px -15px;
        }
        .row{
            margin-bottom: 20px;
        }
        .list{
            text-align: center;
            li{
                float: left;
                margin-right: 20px;
            }
        }
        .para{
            float: none;    
        }
    }
}